header {
    width: 87vw;
}

.cabecalho {
    /* background-color: var(--home-primeiro); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0.5em 5em;
    transition: 1s;
}

.cabecalho-logo {
    height: 40px;
}

.cabecalho-menu__lista {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cabecalho.rolagem {
    background-color: var(--color-white);
}

.menu__lista-item {
    font-family: var(--type-text);
    font-size: 10px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-black);
    padding: 1em;
}

.menu__lista-botao {
    text-decoration: none;
    font-size: 10px;
    color: var(--color-white);
    padding: 1.2em;
    background-color: var(--color-black);
    border-radius: 4.5px;
}

.menu__lista-botao:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

.menu__lista-item:hover {
    background-color: var(--color-lightgray);
    border-radius: 4px;
}

@media screen and (min-width: 1925px) {
    .cabecalho {
        padding: 0.75em 8em;
    }
}

@media screen and (max-width: 1150px) {
    .cabecalho {
        padding: 0.75em 2em;
    }

    .cabecalho-menu__lista {
        gap: 1px;
    }
}