.cabecalho {
    background-color: var(--home-primeiro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em 5em;
}

.cabecalho-logo {
    height: 40px;
}

.cabecalho-menu__lista {
    display: flex;
    align-items: center;
    gap: 7px;
}

.menu__lista-item {
    font-family: var(--type-text);
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-black);
    padding: 1em;
}

.menu__lista-botao {
    text-decoration: none;
    font-size: 12px;
    color: var(--color-white);
    padding: 1.2em;
    background-color: var(--color-black);
    border-radius: 4.5px;
}

.menu__lista-botao:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

.menu__lista-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

@media screen and (min-width: 1925px) {
    .cabecalho {
        padding: 0.75em 8em;
    }
}

@media screen and (max-width: 1150px) {
    .cabecalho {
        padding: 0.75em 2em;
    }

    .cabecalho-menu__lista {
        gap: 1px;
    }
}