.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5em;
    gap: 0 20rem;
}

.container__conteudo {
    width: 30%;
}

.container__conteudo-titulo {
    font-family: var(--type-title);
    font-size: 70px;
    font-style: normal;
    line-height: 75px;
    font-weight: 700;
    letter-spacing: -3px;
    margin-bottom: 3rem;
}

.container__conteudo-texto {
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
}

.container__imagem {
    height: 60%;
}

@media screen and (min-width: 1925px) {
    .container {
        padding-inline: 8em;
    }
}

@media screen and (max-width: 1150px) {
    .container {
        padding: 2em;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 3em;
    }

    .container__conteudo {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .container__imagem {
        height: 90vw;
        display: flex;
        align-self: center;
    }

    .metodologia__imagem {
        display: none;
    }

    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}