.cta {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5em;
    gap: 0 20rem;
    background-color: var(--color-black);
    gap: 25em;
}

.cta__titulo {
    font-family: var(--type-title);
    font-size: 80px;
    font-style: normal;
    line-height: 90px;
    font-weight: 700;
    letter-spacing: -3px;
    color: var(--color-white);
}

.cta__conteudo-titulo {
    font-family: var(--type-text);
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    font-weight: 700;
    color: var(--color-white);
    margin-bottom: 0.75em;
}

.cta__conteudo-texto {
    font-family: var(--type-text);
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    font-weight: 400;
    color: var(--color-white);
    margin-bottom: 2.5em;
}

.cta__conteudo-botao {
    text-decoration: none;
    font-family: var(--type-texto);
    font-size: 16px;
    font-weight: 700;
    color: var(--color-black);
    padding: 1em;
    background-color: var(--color-white);
    border-radius: 4.5px;
}

.cta__conteudo-botao:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid var(--color-white);
}

@media screen and (min-width: 1925px) {
    .cta {
        padding-inline: 20em;
    }

    .cta__titulo {
        width: 40%;
    }

    .cta__conteudo {
        width: 40%;
    }
}

@media screen and (max-width: 1150px) {
    .cta {
        flex-direction: column;
        justify-content: center;
    }
}