.home {
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding-inline: 5em;
    background-color: var(--home-primeiro);
    /* background-image: url(../img/carrossel/pilhas-gotech.png);
    background-position: 90% 50%;
    background-repeat: no-repeat;
    background-size: cover; */
}

.home__mensagem-texto {
    font-family: var(--type-text);
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    width: 13em;
    margin-bottom: 1.5em;
}

.home__mensagem-titulo {
    font-family: var(--type-title);
    font-size: 100px;
    font-style: normal;
    line-height: 110px;
    font-weight: 700;
    letter-spacing: -5px;
}

.home__projeto {
    height: 70%;
}

@media screen and (min-width: 1925px) {
    .home {
        padding-inline: 8em;
    }
}

@media screen and (max-width: 1150px) {
    .home__projeto {
        display: none;
    }
}