/* SEÇÃO CABEÇALHO */

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.75em 5em;
}

.cabecalho-logo {
    height: 40px;
}

.cabecalho-menu__lista {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cabecalho-menu__lista__item {
    font-family: var(--type-text);
    font-size: 10px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-black);
    padding: 1em;
}

.cabecalho-menu__lista__botao {
    text-decoration: none;
    font-size: 10px;
    color: var(--color-white);
    padding: 1.2em;
    background-color: var(--color-black);
    border-radius: 4.5px;
}

.cabecalho-menu__lista__item:hover {
    background-color: var(--color-lightgray);
    border-radius: 4px;
}

.cabecalho-menu__lista__botao:hover {
    background-color: var(--color-lightgray);
    color: var(--color-black);
}



/* SEÇÃO HOME */

.home {
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding-inline: 5em;
    background-color: var(--home-primeiro);
}

.home__mensagem-texto {
    font-family: var(--type-text);
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    width: 13em;
    margin-bottom: 1.5em;
}

.home__mensagem-titulo {
    font-family: var(--type-title);
    font-size: 100px;
    font-style: normal;
    line-height: 110px;
    font-weight: 700;
    letter-spacing: -5px;
}

.home__projeto {
    height: 70%;
}



/* SEÇÃO CONTAINER */

.container {
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 5em;
}

.container__conteudo {
    width: 30%;
}

.container__conteudo-titulo {
    font-family: var(--type-title);
    font-size: 70px;
    font-style: normal;
    line-height: 75px;
    font-weight: 700;
    letter-spacing: -3px;
    margin-bottom: 3rem;
}

.container__conteudo-texto {
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
}

.container__imagem {
    height: 70%;
}

.metodologia__imagem {
    width: 50%;
}

.metodologia__mobile {
    display: none;
}

.metodologia {
    height: 120vh;
}



/* SEÇÃO PROPÓSITO */

.proposito {
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5em;
    gap: 0 20rem;
    background: var(--color-black);
}

.proposito-titulo {
    font-family: var(--type-title);
    font-size: 80px;
    font-style: normal;
    line-height: 90px;
    font-weight: 700;
    letter-spacing: -3px;
    color: var(--color-white);
    width: 60%;
}



/* SEÇÃO SERVIÇOS */

.servicos {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5em;
    background: var(--color-lightgray);
}

.servicos__container-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10em;
}

.servicos__container-titulo {
    font-family: var(--type-title);
    font-size: 70px;
    font-style: normal;
    line-height: 75px;
    font-weight: 700;
    letter-spacing: -3px;
}

.servicos__lista__conteudo {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 3em;
}

.servicos__lista__item-numero,
.servicos__lista__item-titulo {
    font-family: var(--type-title);
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    font-weight: 700;
    letter-spacing: -1.5px;
}

.servicos__lista__item-numero {
    margin-bottom: 0.3em;
}

.servicos__lista__item-titulo {
    margin-bottom: 0.5em;
}

.servicos__lista__item-texto {
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    width: 20em;
}



/* SEÇÃO CASES */

.cases {
    background-color: var(--color-white);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 4em;
}

.cases__container-titulo {
    font-family: var(--type-title);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1.5px;
    margin-bottom: 2em;
}

.cases__container-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cases__lista-item__imagem:hover {
    background-color: var(--color-lightgray);
    border-radius: 10px;
}



/* SEÇÃO CTA */

.cta {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20%;
    gap: 0 20rem;
    background-color: var(--color-black);
}

.cta__titulo {
    font-family: var(--type-title);
    font-size: 80px;
    font-style: normal;
    line-height: 90px;
    font-weight: 700;
    letter-spacing: -3px;
    color: var(--color-white);
}

.cta__conteudo-titulo {
    font-family: var(--type-text);
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    font-weight: 700;
    color: var(--color-white);
    margin-bottom: 0.75em;
}

.cta__conteudo-texto {
    font-family: var(--type-text);
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    font-weight: 400;
    color: var(--color-white);
    margin-bottom: 2.5em;
}

.cta__conteudo-botao {
    text-decoration: none;
    font-family: var(--type-texto);
    font-size: 16px;
    font-weight: 700;
    color: var(--color-black);
    padding: 1em;
    background-color: var(--color-white);
    border-radius: 4.5px;
}

.cta__conteudo-botao:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid var(--color-white);
}



/* SEÇÃO RODAPÉ */

.rodape {
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 5em 2em 5em;
}

.rodape__info {
    display: flex;
    align-items: flex-end;
    gap: 25px;
}

.rodape__info-logo {
    width: 7em;
}

.rodape__info-direitos {
    font-family: var(--type-text);
    font-size: 10px;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    padding-inline: 1em;
    color: var(--color-black);
    color: var(--color-white);
    margin-bottom: 0.5em;
}

.rodape__social-lista {
    display: flex;
    gap: 15px;
}

.social-icone {
    width: 2em;
}



/* DESKTOP ULTRAWIDE */

@media screen and (min-width: 1925px) {
    
    /* SEÇÃO CABEÇALHO */
    .cabecalho {
        padding-inline: 8em;
    }
    
    /* SEÇÃO HOME */
    .home {
        padding-inline: 10em;
    }

    /* SEÇÃO CONTAINER */
    .container {
        padding: 0em 10em;
    }

    .metodologia__imagem {
        width: 40%;
    }
    
    /* SEÇÃO PROPÓSITO */
    .proposito {
        padding-inline: 10em;
    }

    .proposito-titulo {
        width: 60%;
    }

    /* SEÇÃO SERVIÇOS */
    .servicos {
        padding-inline: 10em;
        gap: 7em
    }

    /* SEÇÃO CASES */
    .cases {
        text-align: center;
        padding-inline: 14em;
    }

    /* SEÇÃO CTA */
    .cta {
        padding-inline: 16em;
    }

    .cta__titulo {
        width: 40%;
    }

    .cta__conteudo {
        width: 40%;
    }

    /* SEÇÃO RODAPÉ */
}

/* O PROJETO FOI DESENVOLVIDO PARA DESKTOP 1920x1080px */

/* NOTEBOOK*/

@media screen and (max-width: 1728px) {
    
    /* SEÇÃO CABEÇALHO */
    .cabecalho {
        padding-inline: 4em;
    }

    .cabecalho-logo {
        height: 35px;
    }

    /* SEÇÃO HOME */
    .home {
        padding-inline: 4em;
    }

    .home__mensagem-titulo {
        font-family: var(--type-title);
        font-size: 80px;
        font-style: normal;
        line-height: 90px;
        font-weight: 700;
        letter-spacing: -5px;
    }

    /* SEÇÃO CONTAINER */
    .container {
        padding: 0em 4em;
    }

    .container__conteudo {
        width: 40%;
    }

    .container__conteudo-titulo {
        font-size: 50px;
        line-height: 55px;
    }

    .container__imagem {
        height: 70%;
    }

    .metod-content{
        width: 30%;
    }

    .metodologia__imagem {
        width: 60%;
    }

    .metodologia {
        height: 115vh;
    }

    /* SEÇÃO PROPÓSITO */
    .proposito {
        height: 110vh;
    }

    .proposito-titulo {
        font-size: 65px;
        line-height: 75px;
        letter-spacing: -2px;
        width: 79%;
    }

    /* SEÇÃO SERVIÇOS */
    .servicos {
        padding-inline: 4em;
    }

    .servicos__container-conteudo {
        gap: 6em;
    }

    .servicos__container-titulo {
        font-size: 60px;
        line-height: 65px;
        letter-spacing: -2px;
    }
    
    .servicos__lista__conteudo {
        gap: 2em;
    }

    .servicos__container-seta {
        width: 25%;
    }

    .servicos__lista__item-numero,
    .servicos__lista__item-titulo {
        font-size: 20px;
        letter-spacing: -1.5px;
    }
    
    .servicos__lista__item-texto {
        font-size: 16px;
        width: 18em;
    }

    /* SEÇÃO CASES */
    .item__1, .item__2, .item__3,
    .item__4, .item__5, .item__6 {
        display: none
    }

    .cases {
        height: 110vh;
    }

    .cases__container-titulo {
        font-size: 25px;
        margin-bottom: 2em;
    }

    .cases__container-lista {
        width: 1000px;
    }

    .cases__lista-item__imagem {
        width: 13em;
    }

    /* SEÇÃO CTA */
    .cta {
        padding-inline: 9em;
        gap: 20%;
    }

    .cta__titulo {
        font-size: 60px;
        line-height: 70px;
    }

    .cta__conteudo-titulo {
        font-size: 18px;
    }

    .cta__conteudo-texto {
        font-size: 16px;
        line-height: 22px;
    }

    .cta__conteudo-botao {
        font-size: 16px;
    }
    
    /* SEÇÃO RODAPÉ */
    .rodape {
        padding: 1em 4em 1em 4em;
    }

    .rodape__info-logo {
        width: 5em;
    }

    .rodape__info-direitos {
        margin-bottom: 0.15em;
    }
}



/* TABLET */

@media screen and (max-width: 1279px) {
    
    /* SEÇÃO CABEÇALHO */
    .cabecalho {
        padding: 0.75em 2em
    }

    .cabecalho-menu__lista {
        gap: 1px;
    }

    .cabecalho-menu__lista__item {
        font-size: 10px;
    }

    /* SEÇÃO HOME */
    .home {
        height: auto;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 7em 0 3em 0;
        gap: 2em;
    }

    .home__mensagem {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home__projeto {
        height: 60%;
    }

    /* SEÇÃO CONTAINER */
    .container {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5em 5em 0em 5em;
        gap: 2em;
        text-align: center;
    }

    .container__conteudo {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .container__conteudo-titulo {
        margin-bottom: 2rem;
    }

    .container__imagem {
        width: 22em;
        display: flex;
        align-self: center;
    }

    .reverse {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 5em 4em 5em 4em;
        gap: 2em;
    }

    .metodologia {
        gap: 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4em;
    }

    .metodologia__imagem {
        width: 25em;
    }
    
    /* SEÇÃO PROPÓSITO */
    .proposito {
        height: auto;
        flex-direction: column;
        justify-content: center;
        padding: 5em 3em;
    }

    .proposito-titulo {
        font-size: 50px;
        line-height: 60px;
        letter-spacing: -3px;
        text-align: center;
        width: 100%;
    }

    /* SEÇÃO SERVIÇOS */
    .servicos {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 2em;
        padding: 4em;
    }   

    .servicos__container-titulo {
        width: 5em;
    }

    .servicos__container-seta {
        display: none;
    }

    .servicos__lista__conteudo {
        justify-content: flex-start;
    }

    .servicos__lista__item-numero,
    .servicos__lista__item-titulo {
        font-size: 24px;
    }

    .servicos__lista__item-numero {
        margin-bottom: 0em;
    }

    .servicos__lista__item-texto {
        width: 30em;
    }

    /* SEÇÃO CASES */
    .cases {
        height: auto;
        padding: 4em;
    }

    .cases__container-lista {
        width: 700px;
    }

    /* SEÇÃO CTA */
    .cta {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 10%;
        padding-inline: 7em;
    }

    .cta__titulo {
        font-size: 70px;
        line-height: 80px;
    }

    .cta__conteudo-titulo {
        font-size: 20px;
    }
    
    .cta__conteudo-texto {
        font-size: 16px;
        line-height: 20px;
    }

    /* SEÇÃO RODAPÉ */
    .rodape {
        padding: 1em 2em 1em 2em;
    }
}



/* SMARTPHONE*/

@media screen and (max-width: 700px) {
    
    /* SEÇÃO CABEÇALHO */
    .cabecalho {
        padding: 0.75em 1em
    }

    .cabecalho-logo {
        height: 40px;
    }

    .cabecalho-menu__lista__item {
        display: none;
    }

    .cabecalho-menu__lista__botao {
        font-size: 10px;
    }

    /* SEÇÃO HOME */
    .home {
        height: auto;
        padding: 5em 0em 2em 0em;
        gap: 2em;
    }

    .home__mensagem-texto {
        font-size: 16px;
        margin-bottom: 1em;
    }

    .home__mensagem-titulo {
        font-size: 50px;
        line-height: 60px;
        letter-spacing: -3px;
    }

    .home__projeto {
        height: 15em;
    }

    /* SEÇÃO CONTAINER */
    .container {
        height: auto;
        justify-content: center;
        padding: 1.5em;
    }

    .container__conteudo-titulo {
        font-size: 30px;
        line-height: 35px;
        letter-spacing: -1px;
        margin-bottom: 0.5em;
    }
    
    .container__conteudo-texto {
        font-size: 14px;
    }

    .container__imagem {
        width: 11em;
    }

    .reverse {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
        padding: 1.5em;
    }
    .metodologia {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2.5em 1.5em;
    }

    .metodologia__imagem {
        display: none;
    }
    
    .metodologia__mobile {
        display: flex;
        width: 12em;
    }

    /* SEÇÃO PROPÓSITO */
    .proposito {
        height: auto;
        padding: 2em;
    }

    .proposito-titulo {
        font-size: 30px;
        line-height: 40px;
        letter-spacing: -3px;
        text-align: center;
    }

    /* SEÇÃO SERVIÇOS */
    .servicos {
        height: auto;
        padding: 2em 1em;
    }

    .servicos__container-titulo {
        font-size: 40px;
        line-height: 45px;
        letter-spacing: -2x;
    }

    .servicos__lista__item-texto {
        width: 10em;
    }

    .servicos__lista__item-numero,
    .servicos__lista__item-titulo {
        font-size: 20px;
    }

    .servicos__lista__item-numero {
        margin-bottom: 0em;
    }

    .servicos__lista__item-titulo {
        margin-bottom: 0.5em;
    }

    .servicos__lista__item-texto {
        font-size: 14px;
        width: 90%;
    }

    /* SEÇÃO CASES */
    .item__1, .item__2, .item__3,
    .item__4, .item__5, .item__6 {
        display: none
    }

    .cases {
        height: auto;
        padding: 2em 0.1em;
    }

    .cases__container-titulo {
        font-size: 20px;
        margin-bottom: 1em;
    }

    .cases__container-lista {
        width: auto;
    }

    .cases__lista-item__imagem {
        width: 7em;
    }

    /* SEÇÃO CTA */
    .cta {
        height: auto;
        flex-direction: column;
        gap: 3em;
        padding: 3em 2em;
    }

    .cta__titulo {
        font-size: 40px;
        line-height: 45px;
    }

    .cta__conteudo-titulo {
        font-size: 18px;
    }
    
    .cta__conteudo-texto {
        font-size: 14px;
        line-height: 18px;
    }

    .cta__conteudo-botao {
        font-size: 12px;
    }

    /* SEÇÃO RODAPÉ */
    .rodape {
        flex-direction: column;
        gap: 30px;
    }

    .rodape__info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .divisão-direitos {
        display: none;
    }

    .rodape__info-direitos {
        display: none;
    }

    .rodape__social-lista {
        gap: 10px;
    }

    .social-icone {
        width: 1.25em;   
    }
}



/* MINI SMARTPHONE*/

@media screen and (max-width: 360px) {
    
    /* SEÇÃO CABEÇALHO */
    .cabecalho {
        padding: 1.7em 1em;
        display: flex;
        justify-content: center;
    }

    .cabecalho-logo {
        display: none;
    }

    .cabecalho-menu__lista__item {
        display: none;
    }

    .cabecalho-menu__lista__botao {
        font-size: 10px;
    }
}