.proposito {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5em;
    gap: 0 20rem;
    background: var(--color-black);
}

.proposito-titulo {
    font-family: var(--type-title);
    font-size: 80px;
    font-style: normal;
    line-height: 90px;
    font-weight: 700;
    letter-spacing: -3px;
    color: var(--color-white);
    width: 60%;
}

@media screen and (min-width: 1925px) {
    .proposito {
        padding-inline: 8em;
    }

    .proposito-titulo {
        width: 50%;
    }
}

@media screen and (max-width: 1150px) {
    .proposito {
        height: 60vh;
        flex-direction: column;
        justify-content: center;
    }
    
    .proposito-titulo {
        font-size: 60px;
        line-height: 70px;
        letter-spacing: -3px;
        text-align: center;
        width: 100%;
    }
}