.rodape {
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5em 2em 5em;
}

.rodape__info {
    display: flex;
    align-items: flex-end;
    gap: 25px;
}

.rodape__info-logo {
    width: 8em;
}

.rodape__info-direitos {
    font-family: var(--type-text);
    font-size: 10px;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    padding-inline: 1em;
    color: var(--color-black);
    color: var(--color-white);
    margin-bottom: 0.5em;
}

.rodape__social-lista {
    display: flex;
    gap: 15px;
}

@media screen and (min-width: 1925px) {
    .rodape {
        padding: 0 8em 2em 8em;
    }
}