@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url("cabecalho.css");
@import url("cases.css");
@import url("container.css");
@import url("cta.css");
@import url("home.css");
@import url("metodologia.css");
@import url("proposito.css");
@import url("rodape.css");
@import url("servicos.css");

:root {
    --color-black: #000000;
    --color-darkgray: #636363;
    --color-gray: #B3B3B3;
    --color-lightgray: #F2F2F7;
    --color-white: #FFFFFF;
    --home-primeiro: #69CDE7;
    --type-title: 'Open Sans';
    --type-text: 'Roboto';
}

body {
    color: var(--color-black);
    background-color: var(--color-white);
    font-family: var(--type-text);
    font-size: 25px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
}

body::-webkit-scrollbar {
    width: 12px;               /* largura de toda a barra de rolagem */
  }
  
  body::-webkit-scrollbar-track {
    background: var(--color-white);        /* cor da área de rastreamento */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--color-black);    /* cor do polegar de rolagem */
    border-radius: 20px;       /* arredondamento do polegar de rolagem */
    border: 3px solid var(--color-white);  /* cria preenchimento ao redor do polegar de rolagem */
  }